nav .logo:before,
nav .profile:before,
nav .projects:before,
nav .contact:before,
#projects .projects-container .projects-container__items:before,
div#mobile-header #mobile-nav-icon:before,
div#mobile-header .logo:before,
#projects .project-title:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
}
body {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#desc p {
  margin-left: 152px;
  font-weight: 300;
  color: #fff;
  font-size: 40px;
  line-height: 55px;
  position: absolute;
  top: 41%;
  z-index: 1;
}
#desc p span {
  font-weight: 700;
  text-shadow: 0px 0px 1px #000;
}
#desc p #learn-more {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  background: rgba(0,0,0,0.6);
  border: 1px inset #000;
  display: block;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 150px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  text-shadow: none;
  text-decoration: none;
}
#desc p #learn-more:hover {
  background: #fff;
  color: #000;
}
#background {
  background: url("images/profileHD-compressor.jpg") no-repeat;
  background-position: right 36%;
  background-size: cover;
  min-height: 100%;
  min-width: 320px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
div#mobile-header {
  display: none;
}
.mobile-nav-mask {
  display: none;
}
.mobile-nav-mask #mobile-nav {
  width: 300px;
  background: #424242;
}
.mobile-nav-mask #mobile-nav .nav-list__items {
  line-height: 40px;
  vertical-align: top;
}
nav {
  background: rgba(0,0,0,0.6);
  position: fixed;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 3;
  -webkit-animation: slideRight 0.5s;
          animation: slideRight 0.5s;
}
nav .nav-brand {
  display: block;
  height: 80px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  padding: 10px 0px;
  position: relative;
  cursor: pointer;
}
nav .logo {
  background: #7ab3b5;
}
nav .logo:before {
  content: "\e60f";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 42px;
  color: #fff;
  font-size: 40px;
}
nav .nav-list {
  height: 90%;
  margin-top: 50px;
}
nav .nav-list__items {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  height: 80px;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  padding: 10px 0px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
nav .nav-list__items.selected {
  color: #c84e4b;
}
nav .nav-list__items:hover {
  color: #c84e4b;
}
nav .profile:before {
  content: "\e89b";
  color: #fff;
  font-size: 40px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
nav .profile:hover:before {
  color: #c84e4b;
}
nav .projects:before {
  content: "\e608";
  color: #fff;
  font-size: 40px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
nav .projects:before.selected {
  color: #c84e4b;
}
nav .projects:hover:before {
  color: #c84e4b;
}
nav .contact:before {
  content: "\e6ee";
  color: #fff;
  font-size: 40px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
nav .contact:hover:before {
  color: #c84e4b;
}
#profile {
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: absolute;
  left: 100px;
  right: 0;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  color: #fff;
}
#profile .profile-title {
  text-transform: uppercase;
  color: #c89f4b;
  font-size: 30px;
  height: 99px;
  text-align: center;
  border-bottom: 1px solid #fff8eb;
  vertical-align: center;
  line-height: 100px;
}
#projects {
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: absolute;
  left: 100px;
  right: 0;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  color: #fff;
}
#projects .project-title {
  text-transform: uppercase;
  color: #c89f4b;
  font-size: 30px;
  height: 99px;
  text-align: center;
  border-bottom: 1px solid #fff8eb;
  vertical-align: center;
  line-height: 100px;
}
#projects .projects-container {
  text-align: center;
}
#projects .projects-container .projects-container__items {
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
  display: inline-block;
  width: 200px;
  height: 250px;
  font-size: 25px;
  border: 1px solid #fff;
  border-radius: 10px;
  vertical-align: top;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  color: #fff;
}
#projects .projects-container .projects-container__items:before {
  color: #fff;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
#projects .projects-container .mic:before {
  content: "\e609";
}
#projects .projects-container .tile:before {
  content: "\e607";
}
#projects .projects-container .subscription:before {
  content: "\e600";
}
#projects .projects-container .baconbnb:before {
  content: "\e602";
}
#projects .projects-container .projects-container__items:hover:before {
  color: #f2cc7f;
}
#projects .projects-container .projects-container__items:hover {
  color: #f2cc7f;
  border: 1px solid #f2cc7f;
}
#projects .projects-container .projects-container__item-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 15px;
}
.slideLeft {
  -webkit-animation: slideLeft 0.75s;
          animation: slideLeft 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.fadeOut {
  -webkit-animation: fadeOut 0.2s;
          animation: fadeOut 0.2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.fadeIn {
  -webkit-animation: fadeIn 0.2s;
          animation: fadeIn 0.2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.slideRightOut {
  -webkit-animation: slideRightOut 0.75s;
          animation: slideRightOut 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* Style adjustments for viewports that meet the condition */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
  #background {
    background-position: right;
  }
  #desc p {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-animation: none;
            animation: none;
    font-size: 25px;
    line-height: 40px;
    margin-left: 20px;
    text-align: left;
    top: 41%;
  }
  #desc p #learn-more {
    font-size: 15px;
  }
  #desc {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
    -webkit-animation: slideDown 1s;
            animation: slideDown 1s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  nav#desktop-nav {
    display: none;
  }
  #mobile-nav-mask {
    display: none;
  }
  div#mobile-header {
    text-align: center;
    display: block;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100px;
    -webkit-animation: slideDown 1.5s;
            animation: slideDown 1.5s;
  }
  div#mobile-header #mobile-nav-icon:before {
    float: left;
    content: '\e8b6';
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  div#mobile-header .nav-brand {
    display: block;
    height: 80px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0px;
    position: relative;
    cursor: pointer;
  }
  div#mobile-header .logo {
    background: none;
  }
  div#mobile-header .logo:before {
    content: "\e60f";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 42px;
    color: #fff;
    font-size: 40px;
  }
  div#mobile-header .nav-list {
    display: none;
  }
  #background {
    max-width: 480px;
  }
  #projects {
    left: 0;
  }
  #projects .project-title:before {
    content: "\e8b1";
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 35px;
    right: 20px;
  }
}
/* Smartphones (landscape) ----------- */
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideLeft {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slideLeft {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideRightOut {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@keyframes slideRightOut {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
