$icon
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

*
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	font-family 'Ubuntu', sans-serif
body
	margin 0
	min-height 100vh
	#container
		background-image url('images/visualizer-background.png')
		background-size cover
		background-repeat no-repeat
		background-position center center
		min-height inherit
		text-align center
		padding 20px
		input#search-youtube
			outline none
			background transparent
			border-top none
			border-left none
			border-right none
			border-bottom 1px solid rgba(242, 242, 242, 0.3)
			width 500px
			font-weight 100
			font-size	25px
			color #f2f2f2
		::-webkit-input-placeholder
			color rgba(242,242,242, 0.3)
		:-moz-placeholder
			color rgba(242,242,242, 0.3)
		::-moz-placeholder
			color rgba(242,242,242, 0.3)
		:-ms-placeholder
			color rgba(242,242,242, 0.3)
		.sound:before
			@extends $icon
			float right
			content "\e74f"
			color #FFF
			font-size 40px
		#visualizer-icon
			background url('images/waterdrop.png') center no-repeat
			background-size contain
			width inherit
			height 330px
			margin 10%
		progress[value]
			-webkit-appearance none
			appearance none
			width 80%
			height 8px
		progress[value]::-webkit-progress-bar
			background-color rgba(255, 198, 0, 0.5)
			
			box-shadow 0 1px 1px rgba(0, 0, 0, 0.5) inset
		progress[value]::-webkit-progress-value
			background-color #FFC600







